<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanghuan.login">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login" />
        <activity android:name=".util.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register" />
        <activity android:name=".home" />
        <activity android:name=".frist_Page.firstPage" />
        <activity android:name=".bus_Page.busPage" />
        <activity android:name=".my_Page.myPage" />
        <activity android:name=".my_Page.my_username" />
        <activity android:name=".my_Page.my_pwd" />
        <activity android:name=".my_Page.my_addr" />
        <activity android:name=".my_Page.update_addr" />
        <activity android:name=".my_Page.add_addr" />
    </application>

</manifest>